*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #ff7b25;
	font-family: Verdana, Geneva, Tahoma;
}

header{
	background-color: #6b5b95;
	width: 90%;
	margin: 0 auto;
	border: black 2px solid;
 
}
header h1{
	font-size: 1em;
	padding: 1em 2em 3em 4em;
	text-align: center;
}
nav{
	align-content: right;
	border: 1em;
	padding: 1em;
	border: black 2px solid;
	background-color: white;
}
table, th {
  align-self: center;
  border: 1px solid black;
  text-align: center;
  background-color: #feb236;
  font-size: 20px

}
table{
	 margin-left: auto;
  margin-right: auto;
}

section{
	min-height: 420px;
	border: black 2px solid;
}
article.slide1{
	background-color:#d64161 ;
	height: 10%;
	min-height: 140px;
	border: black 2px solid;	
	text-align: center;
}
article.slide2{
	background-color:#ff7b25 ;
	min-height: 140px;
	border: black 2px solid;
	text-align: center;
		
}
aside{
	text-align: right;
;
}
footer{
	text-align: right;

}